.nav {
  .nav-item {
    position: relative;
    .nav-link {
      +.btn-dropdown {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
    .dropdown-menu {
      .dropdown-item {
        font-size: 15px;
        &:hover {
          color: black;
          opacity: .5;
        }
      }
    }
  }
}