<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="webHttpBinding" closeTimeout="00:10:00" receiveTimeout="00:20:00" maxBufferSize="20000000" maxReceivedMessageSize="20000000"/>
        <binding name="webHttpsBinding" closeTimeout="00:10:00" receiveTimeout="00:20:00" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="runtime update" binding="basicHttpBinding" bindingConfiguration="webHttpBinding" contract="Magento1Soap.PortType" name="HttpPort"/>
      <endpoint address="runtime update" binding="basicHttpBinding" bindingConfiguration="webHttpsBinding" contract="Magento1Soap.PortType" name="HttpsPort"/>
    </client>
  </system.serviceModel>
</configuration>