.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
bin/
obj/
.vs/
appsettings.Development.json
yarn-error.log
src/api/published