<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://soap.fabric.variux.com/index.php/api/v2_soap/index/"
                binding="basicHttpBinding" bindingConfiguration="Binding"
                contract="Magento1Soap.PortType" name="Port" />
        </client>
    </system.serviceModel>
</configuration>